html {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 0 0 0;
    background-color: #f0f9fd
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--tg-theme-text-color);
    margin: 0 0 0 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container {
    margin-left: 6px;
    margin-right: 6px;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
    margin-bottom: 1em;
}

.catalog-item {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 1em;
    background-color: white;
    border-radius: .5em;
    padding: .5em 1em;
    width: 100%;
    border: solid #e5e5e5 1px;
    cursor: pointer;
}

.catalog-item:hover {
    filter: drop-shadow(0px 0 8px rgba(0, 0, 0, .2));
}

.catalog-img {
    width: 32px;
    height: 32px;
}
