html {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 0 0 0;
    background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto', sans-serif;
    color: var(--tg-theme-text-color);
    margin: 0 0 0 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container {
    margin-left: 1em;
    margin-right: 1em;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
    margin-bottom: 1em;
}

.catalog-item,
.catalog-item-column {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 1em;
    background-color: white;
    border-radius: .5em;
    padding: .5em 1em;
    width: 100%;
    border: solid #e5e5e5 1px;
    cursor: pointer;
    transition: transform .5s ease;
}

.catalog-item-column {
    flex-direction: column;
    align-items: flex-start;
}

.catalog-item:hover,
.catalog-item-column:hover {
    filter: drop-shadow(0px 0 8px rgba(0, 0, 0, .1));
}

.catalog-item:active,
.catalog-item-column:active {
    transform: scale(.95);
}

.catalog-img {
    width: 48px;
    height: 48px;
}

.crumbs-flex {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

a {
    text-decoration: none;
}

.catalog-home-img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}