html {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 0 0 0;
    background-color: var(--tg-theme-bg-color)
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--tg-theme-text-color);
}

.container {
    margin-left: 6px;
    margin-right: 6px;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
}

.catalog-item {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 1em;
    background-color: white;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.catalog-img {
    width: 32px;
    height: 32px;
}
